<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
</head>
<body>
    <div th:insert="header :: headerfragment"></div>
    <div id="container">
        <div style="margin:25px;">
            <div>
                <h1>Edit course</h1>
            </div>
            <div>
                <h2>Please fill all fields.</h2>
                <form method="post" action="/courses/edit/submit">
                    <input type="hidden" name="courseId" th:value="${course.GetId()}"/>
                    <input type="text" name="name" th:placeholder="${course.GetName()}"/>
                    <input type="text" name="teacher" th:placeholder="${course.GetTeacher()}"/>
                    <input type="number" name="credit" th:placeholder="${course.GetCredit()}"/>
                    <input type="number" name="maxParticipants" th:placeholder="${course.GetMaxParticipants()}"/>
                    <input type="text" name="startDate" th:placeholder="${course.GetStartDate()}"/>
                    <input type="text" name="endDate" th:placeholder="${course.GetEndDate()}"/>
                    <input type="text" name="description" th:placeholder="${course.GetDescription()}"/>
                    <input type="text" name="classRoomID" th:placeholder="${course.GetClassRoomID()}"/>
                    <input type="text" name="remoteSessionLink" th:placeholder="${course.GetRemoteSessionLink()}"/>
                    <input type="submit" value="Create"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>